<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weiwu.ql">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" /> <!-- Required -->
    <permission
        android:name="${applicationId}.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" /> <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- SD卡写入数据权限,注意:如果编译版本大于API 23 (6.0以上)，需要注意该动态权限的申请 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- Android8.0的诸多新特性中有一个非常重要的特性：未知来源应用权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- VISIBILITY_HIDDEN表示不显示任何通知栏提示的权限 -->
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 申请电源锁需要的权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- android 9.0之后使用前台服务，需要添加权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".main.find.OrderTypeActivity"></activity>
        <activity android:name=".main.find.OrderDetailActivity" />
        <activity android:name=".main.find.DistributeActivity" />
        <activity android:name=".main.mine.wallet.AddWalletActivity" />
        <activity android:name=".main.mine.wallet.WalletActivity" />
        <activity android:name=".main.contact.chat.ImgOrVideoActivity" />
        <activity android:name=".main.contact.new_friend.NewFriendActivity" />

        <service
            android:name=".killSelfService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".main.contact.chat.im.JWebSocketClientService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".main.contact.chat.im.JWebSocketClientService$GrayInnerService"
            android:enabled="true"
            android:exported="false"
            android:process=":gray" />

        <activity android:name=".main.contact.group.GroupInfoActivity" />
        <activity android:name=".main.mine.friends.FriendsActivity" />
        <activity android:name=".main.mine.friends.issue.FriendsNewActivity" />
        <activity android:name=".WebLoginConfirmActivity" />
        <activity android:name=".main.mine.detail.QrCardActivity" />
        <activity android:name=".main.mine.detail.PersonalInformationActivity" />
        <activity android:name=".main.message.StartGroupChatActivity" />
        <activity android:name=".main.contact.group.GroupListActivity" />
        <activity android:name=".main.mine.setting.PrivacySettingActivity" />
        <activity android:name=".main.mine.setting.GeneralSettingActivity" />
        <activity android:name=".main.mine.setting.SetChatbackGroundActivity" />
        <activity android:name=".main.mine.setting.FontSizeActivity" />
        <activity android:name=".main.mine.setting.AboutUsActivity" />
        <activity android:name=".main.mine.setting.AnQuanActivity" />
        <activity android:name=".main.mine.setting.ClearCacheActicity" />
        <activity android:name=".main.contact.black.BlackListActivity" />
        <activity
            android:name=".main.contact.chat.ChatActivity"
            android:windowSoftInputMode="stateHidden" />

        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        <meta-data
            android:name="design_width_in_dp"
            android:value="420" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="720" />

        <activity android:name=".main.contact.detail.FriendProfileActivity" />
        <activity android:name=".main.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".main.contact.add.AddMoreActivity" />
    </application>

</manifest>